.block {
  position: relative;
  display: block;
  left: 50%;
  top: 50%;
  margin-top: 100px;;

  --delay: 0.1s;
  /* change degrees to change distance between points */
  --degrees: 10deg;
  /* change width and height to change spinner radius */
  --width: 30px;
  --height: 30px;
  /* change pointWidth and pointHeight to change size of points*/
  --pointWidth: 8px;
  --pointHeight: 8px;
  /* cahange color of points*/
  --color: gray;
}

.holder {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: var(--width);
  height: var(--height);
  animation: rotate 2s ease-in-out infinite;
  transform-origin: right bottom;
  animation-delay: calc(var(--data-x) * var(--delay));
  animation-fill-mode: both;
}

.holder::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--pointWidth);
  height: var(--pointHeight);
  background-color: var(--color);
  border-radius: 50%;
}

@keyframes rotate {
  0% {
    transform: rotate(calc(var(--data-x) * var(--degrees) * -1));
  }
  100% {
    transform: rotate(calc(360deg - (var(--data-x) * var(--degrees))));
  }
}