html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.points-spinner {
  /* cahange the color of the points*/
  --color: #6768ab;
  /* number of the points; if the number of the points changes, then you should add divs in html */
  --points: 7;
  /* change the diameter of the spinner */
  --spinner-diameter: 80px;
  /* change the speed of the moving points */
  --delay: 0.1s;
  /* change the size of the points*/
  --point-diameter: 8px;

  /* the distance between the points;
  all the points are located in the third part of the circle => 120deg */
  --degrees: calc(120deg / var(--points));

  position: relative;
  display: block;

  width: var(--spinner-diameter);
  height: var(--spinner-diameter);
}

.points-spinner > * {
  position: absolute;

  width: inherit;
  height: inherit;

  animation: rotate 2s ease-in-out infinite;
  animation-delay: calc(var(--spinner-point) * var(--delay));
  animation-fill-mode: both;
}

.points-spinner > *::after{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: var(--point-diameter);
  height: var(--point-diameter);

  border-radius: 50%;
  background-color: var(--color);
}

@keyframes rotate {
  0% {
    transform: rotate(calc(var(--spinner-point) * var(--degrees) * -1));
  }
  100% {
    transform: rotate(calc(360deg - (var(--spinner-point) * var(--degrees))));
  }
}