.points-spinner {
  position: relative;
  display: block;
  /* diameter of spinner */
  width: 60px;
  height: 60px;

  --delay: 0.1s;
  /* change degrees to change distance between points */
  --degrees: 10deg;
  /* change diameter to set size of points*/
  --pointDiameter: 8px;
  /* cahange color of points*/
  --color: gray;
}

.points-spinner > * {
  position: absolute;
  width: inherit;
  height: inherit;
  animation: rotate 2s ease-in-out infinite;
  transform-origin: center center;
  animation-delay: calc(var(--spinner-point) * var(--delay));
  animation-fill-mode: both;
}

.points-spinner > *::after{
  content: "";
  position: absolute;
  /* center point vertically and most left*/
  top: 50%;
  transform: translateY(-50%);
  width: var(--pointDiameter);
  height: var(--pointDiameter);
  background-color: var(--color);
  border-radius: 50%;
}

@keyframes rotate {
  0% {
    transform: rotate(calc(var(--spinner-point) * var(--degrees) * -1));
  }
  100% {
    transform: rotate(calc(360deg - (var(--spinner-point) * var(--degrees))));
  }
}