html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.circle-spinner {
  /* change the color, size and thickness of the spinner */
  --color: #6768ab;
  --diameter: 80px;
  --thickness: 7px;

  width: var(--diameter);
  height: var(--diameter);

  background: transparent;
  border-top: var(--thickness) solid var(--color);
  border-right: var(--thickness) solid transparent;
  border-radius: 50%;

  animation: 1s spin linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}